/*
Colors used:
Primary Color (Dark blue): #2D3047;
Secondary Color (Light grey): #F4F4F6;
Secondary Color (yellow): #FFD800
Terciary Color (grey): #78849E

*/
/* Font-family used:
Open Sans;
*/
/* Layout styling */
.logo {
  max-width: 120px;
}

header {
  background-color: #F4F4F6;
  text-align: left;
  position: fixed;
  width: 100%;
  padding: 10px 0 4px;
  box-shadow: 1px 1px 4px 0px rgba(49, 50, 50, 0.5);
}

main {
  padding-top: 56px;
}

#hero {
  background-color: #F4F4F6;
  padding: 20px 0;
  width: 100%;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #151726;
}

body {
  background-color: #ffffff
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #151726;
}

footer {
  background-color: #F4F4F6;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.0em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

p {
  font-size: 1em;
  font-weight: 300;
}

img {
  width: 100%;
}

.hero-text {
  font-size: 2em;
  font-weight: 300;
}

.image {
  width: 25px;
  /*reduce icon size*/
}

.image:hover,
.image:focus {
  width: 25px;
  /*reduce icon size*/
  color-background: #FFD800;
}

/* Links */
a {
  color: #151726;
  font-weight: 400;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  /* color: #2D3047; */
  /* We suggest using a different color here */
  color: #151726;
}

a:hover,
a:focus {
  color: #FFD800;
  text-decoration: underline;
}

a:active {
  /* selected link */
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  font-weight: 400;
}

/* general buttons */
.button {
  display: inline-block;
  background-color: #151726;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 0px solid #151726;
  transition: 0.2s opacity;
}

.button:visited {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  background-color: #151726;
  color: #ffffff;
}

.button:hover,
.button:focus {
  text-decoration: none;
  background-color: #FFD800;
  color: #ffffff;
  cursor: pointer;
}

.button:active {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  background-color: #FFD800;
  color: #ffffff;
}

.button.contact {
  background-color: transparent;
  color: #151726;
  text-transform: uppercase;
  border: 2px solid #151726;
}

.button.contact:hover {
  background-color: #151726;
  color: #FFD800;
  border: 2px solid #151726;
}

.button.contact:active {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  background-color: #151726;
  color: #FFD800;
  border: 2px solid #151726;
}

.button.cv {
  background-color: transparent;
  color: #151726;
  text-transform: uppercase;
  border: 2px solid #151726;
}

.button.cv:hover {
  background-color: #FFD800;
  color: #ffffff;
  border: 2px solid #FFD800;
}

.button.cv:active {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  background-color: #FFD800;
  color: #ffffff;
  border: 2px solid #FFD800;
}

/* Move menu icon to the right*/
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle.responsive li  {
  display: block;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 20px;
  padding-right: 0;
}
/*Menu hidden*/
.navtoggle li:not(:last-child) {
  display: none;
}

/* Delete bullet points*/
nav>ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #151726;
}

nav>ul>li>a:visited {
  color: #151726;
}

nav>ul>li>a:hover, a:focus {
  color: #FFD800;
  text-decoration: underline;
}

nav>ul>li>a:active {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  font-weight: 400;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #151726;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}


/* ==============================
Animation
================================= */
.animation {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes cloud-front {
  from {
    transform: translate(-7311.904px, -4353.672px);
  }

  to {
    transform: translate(-6500px, -4353.672px);
  }
}

@keyframes cloud-back {
  from {
    transform: translate(-6000.904px, -4246px);
  }

  to {
    transform: translate(-7200.904px, -4246px);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-front infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-back infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .logo {
    max-width: 150px;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  #hero {
    text-align: center;
  }

  #hero span {
    display: block;
  }

  main {
    padding-top: 99px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding-bottom: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  nav > ul {
    margin: 1em 0;
  }
  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  #about-page h3 {
    margin-top: 0;
  }

  footer {
    text-align: center;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
